<div class="text-center">
   <img src="../../assets/ml.jpg" class="img-fluid" style="max-height:600px">
</div>
<div class="jumbotron pt-1">
Analytics Inside is an American company based in Westerville, Ohio. We were founded in 2005 and we specialize in advanced analytical solutions and services. 
<br><br>
Analytics Inside produces the RelMiner family of relationship mining systems. These systems are based upon machine learning, big data, graph theory, data visualization, and natural language processing. 
<br><br>
We also deliver a wide range of training courses for these advanced technologies, and also consulting services for planning and management of them. 
<br><br>
For further information, visit our web site at <a href="http://www.AnalyticsInside.us">http://www.AnalyticsInside.us</a>, or email us at <a href="info@AnalyticsInside.us">info@AnalyticsInside.us</a>.
</div>
