<div class="container-fluid">
<div class="row col-12" style="background-color: gray">	
<h3>Analytics Inside - Advanced. Analytical. Intelligence.</h3>
</div>
<div class="row text-center col-12 col-offset-1" style="background-color: black;width: 100%">
   <div class="col-3"></div>
   <div class="col-6">
   <img src="../../assets/ml.jpg" class="img-fluid" style="max-height:600px">
   </div>
   <div class="col-3"></div>
</div>
<div class="row col-12 plr-2">
<br>
<p>Analytics Inside is an American company based in Westerville, Ohio. We were founded in 2005 and we specialize in advanced analytical solutions and services.</p> 
<p>Analytics Inside produces the RelMiner family of relationship mining systems. These systems are based upon machine learning, big data, graph theory, data visualization, and natural language processing. Our products form an intergated suite of advanced analytical technologies based on current, scalable open source software.</p>
<p>We also deliver a wide range of training courses for these advanced technologies, and also consulting services for planning, management, and implementation, and integration of them.</p>
<p>In 2015, we published <a href="https://www.amazon.com/Learning-Cascading-Michael-Covert/dp/1785288911">Learning Cascading</a> which is available on Amazon.com.</p>
<br><br>
<p>For further information, visit our web site at <a href="http://www.AnalyticsInside.us">http://www.AnalyticsInside.us</a>, or email us at <a href="info@AnalyticsInside.us">info@AnalyticsInside.us</a>.</p>
</div>
</div>