<div *ngIf="ready">
  <wizard>
  <wizard-step stepTitle="Model Template" navigationSymbol="&#xf044;" navigationSymbolFontFamily="FontAwesome">
    <form>
      <br>
      <h2 class="text-center">How would you like to build the model?</h2>
      <br>
      <div class="row col-12">
           <div class="col-4"></div>
           <label class="col-2">Build as</label>
           <select class="col-3" (change)="selectBuildMode($event.target.value)">
                 <option value="none" selected >Empty model</option>
                 <option value="model">Using another model</option>
                 <option value="file">Using a Datamap or File</option>
           </select>
           <div class="col-3"></div>
      </div>  
      <br>
      <div *ngIf="mode=='model'">
           <div class="row col-12">
             <div class="col-4"></div>
             <label class="col-2">Select Model</label>
             <div class="col-3">
             <app-model-picker (selectedModel)="selectModel($event)"></app-model-picker>
             </div>
             <div class="col-3"></div>
           </div>
           <br>
           <div class="row col-12">
             <div class="col-2"></div>
             <div class="col-8">
             <app-model-view-dialog [model]="model" [mode]="'inline'"></app-model-view-dialog>
             </div>
             <div class="col-2"></div>
           </div>
      </div>  
      <div *ngIf="mode=='file'">
        <h2 class="text-center">Build the model using a file or datamap</h2>
        <br>
        <div class="row col-12">
          <div class="col-5">
            <h3 class="text-center">Select a file or datamap</h3>
            <div class="row">
              <tree-root [nodes]="node" [options]="options"
                 (toggleExpanded)="onEvent($event)"
                 (activate)="onActivateEvent($event)"
                 (focus)="onEvent($event)"
                 (blur)="onEvent($event)">
              </tree-root>
            </div>
          </div>
          <div class="col-7">
           <h3 class="text-center">Identify how the model will use the data</h3>
           <br>
           <table class="table table-bordered table-striped sortable table-sm">
             <thead>
               <th>Field Name</th>
               <th>Data Type</th>
               <th>Usage</th>
             </thead>
             <tbody>
               <tr *ngFor="let f of fields; let i = index;">
                 <td>{{f.field_name}}</td>
                 <td>{{f.field_type}}</td>
                 <td>
                    <select class="form-control" (change)="setUsage($event.target.value,i);">
                       <option value="Feature" selected >Feature</option>
                       <option value="Target">Target</option>
                       <option value="Identifier">Identifier</option>
                    </select>
                 </td>
               </tr>
             </tbody>
           </table>
          </div> 
        </div>
      </div>
      <br>
      <div class="text-center">
       <button type="button" nextStep class="btn btn-sm btn-primary">Next Step</button>
      </div>
    </form>
  </wizard-step>
  <wizard-step stepTitle="Model Building" navigationSymbol="&#xf044;" navigationSymbolFontFamily="FontAwesome">
    <form>
      <br>
      <div *ngIf="mode=='none'">
         <h2 class="text-center">Build the model manually</h2>
         <br>
         <div class="row col-12">
           <div class="col-2"></div>
             <label>You will now be asked to define features, targets, and identifiers. You can also define data encoding, algorithms, and other parameters.</label>
           <div class="col-2"></div>
         </div>
      </div>
      <div *ngIf="mode=='model'">
           <h2 class="text-center">Build the model from another model</h2>
         <br>
         <div class="row col-12">
           <div class="col-2"></div>
             <label>You can now make modifications to the following model.</label>
           <div class="col-2"></div>
         </div>
           <div class="row col-12">
             <div class="col-2"></div>
             <div class="col-8">
             <app-model-view-dialog [model]="model" [mode]="'inline'"></app-model-view-dialog>
             </div>
             <div class="col-2"></div>
           </div>
      </div>
    </form>
    <br/>
    <div class="text-center">
       <button type="button" previousStep class="btn btn-sm btn-danger">Go to previous step</button>
       <button type="button" nextStep class="btn btn-sm btn-primary" (click)="fillModelFromFields();">Next Step</button>
    </div>
  </wizard-step>  
  <wizard-step stepTitle="Define the new model" navigationSymbol="&#xf044;" navigationSymbolFontFamily="FontAwesome">
    <form>
      <br>
      <h2 class="text-center">Define the model</h2>
      <br>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="form-group">
              <label class="col-2" for="modelName">Model Name</label>
              <input class="col-4" type="text" id="modelName" [(ngModel)]="model.name" name="name">
            </div>    
            <div class="form-group">
              <label class="col-2" for="modelClass">Model Class</label>
              <select (change)="setModelClass($event.target.value)">
                 <option *ngFor="let mc of modelClasses" value={{mc.label}}>{{mc.label}}</option>
              </select>
              <button type="button" class="btn btn-sm btn-primary" (click)="showModelClassDialog()">Add Model Class</button>
            </div>    
            <div class="form-group">
              <label class="col-2" for="modelVersion">Version</label>
              <input class="col-1" type="text" id="modelVersion" [(ngModel)]="model.version" disabled="true" name="version">
            </div>    
            <div class="form-group">
              <label class="col-2" for="modelDescription" >Description</label>
              <input class="col-8" type="text" id="modelDescription" [(ngModel)]="model.description" name="description">
            </div>  
        </div>
        <div class="col-2"></div>  
      </div>
    </form>
    <div class="text-center">
       <button type="button" previousStep class="btn btn-sm btn-danger">Go to previous step</button>
       <button type="button" nextStep class="btn btn-sm btn-primary">Next Step</button>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Add Features" navigationSymbol="&#xf03a;" navigationSymbolFontFamily="FontAwesome">
    <form>
      <div class="container-fluid">
      <br>
      <div class="row">
        <div class="col-2"></div>
        <h2 class="text-center col-8">Add features to the model</h2>
        <div class="dropdown col-2" style="float:right">
         <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Add Feature<span class="caret"></span></button>
         <div class="dropdown-menu">
           <a class="dropdown-item" (click)="addFeature()">New Feature</a>
           <a class="dropdown-item" (click)="showDatamapEditor()" >From DataMap</a>
           <a class="dropdown-item" href="#">From file</a>
         </div>
       </div>
      </div>
      <br>
        <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped sortable table-sm">
          <thead>
               <!--th class="text-center">Target</th-->
               <th class="text-center">Name</th>
               <th class="text-center">Type</th>
               <th class="text-center">Label</th>
               <th class="text-center">Parameters</th>
               <!--th class="text-center">Parameter Editor</th-->
               <th class="text-center">Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let f of model.features; let index = index; trackBy:trackByIndex">
               <!--td class="text-center">
                 <input type="checkbox" [(ngModel)]="model.features[index].isTarget" name=isTraget{{index}} ngModel>
               </td-->
               <td >
                 <input class="form-control" type="text" [(ngModel)]="model.features[index].name" name=name{{index}} ngModel>
               </td>
               <td >
                 <select class="form-control" (change)="changeFeatureDataType($event.target.value, index)"> 
                   <option *ngFor="let dt of dataTypes" value="{{dt.datatype_name}}" [selected]="dt.datatype_name==f.type">{{dt.datatype_name}}</option>
                 </select>
               </td>
               <td >
                 <input class="form-control"  type="text" [(ngModel)]="model.features[index].label" name=label{{index}} ngModel>
               </td>
               <td >
                  <div class="row col-12">
                  <div class="input-group">
                    <textarea class="col-10" type="text" name="parms" style="height:50px" readonly [value]="getParmString(f.parms)"></textarea>
                    <span class="input-group-btn col-2">
                    <p data-placement="top" data-toggle="tooltip" title="Show Parameter Editor">
                       <button class="btn btn-info btn-xs center-block" (click)="showParmEditor(f.type, 'feature', index)">
                        <span class="fa fa-bars"></span>
                      </button>
                    </p>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                    <p data-placement="top" data-toggle="tooltip" title="Delete Feature">
                       <button class="btn btn-danger btn-xs center-block" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteFeature(index)">
                        <span class="fa fa-trash"></span>
                       </button>
                    </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </form>
    <br>
    <br>
    <div class="text-center">
      <button type="button" previousStep class="btn btn-sm btn-danger">Go to previous step</button>
      <button type="button" nextStep class="btn btn-sm btn-primary">Add Targets</button>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Add Targets" navigationSymbol="&#xf140;" navigationSymbolFontFamily="FontAwesome">
    <form>
      <div class="container-fluid">
      <br>
      <div class="row">
        <div class="col-2"></div>
        <h2 class="text-center col-8">Add targets to the model</h2>
        <button type="button" class="btn btn-sm btn-primary" (click)="addTarget()">Add Target</button>
      </div>
      <br>
        <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped sortable table-sm">
          <thead>
               <!--th class="text-center">Target</th-->
               <th class="text-center">Name</th>
               <th class="text-center">Type</th>
               <th class="text-center">Description</th>
               <th class="text-center">Parameters</th>
               <th class="text-center">Algorithms</th>
               <th class="text-center">Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let t of model.targets; let i = index; trackBy:trackByIndex">
               <td >
                 <input class="form-control" type="text" [(ngModel)]="t.name" name=name{{i}} ngModel>
               </td>
               <td >
                 <select class="form-control" (change)="changeTargetDataType($event.target.value, i)"> 
                   <option *ngFor="let dt of dataTypes" value="{{dt.datatype_name}}"[selected]="dt.dataype_name==t.type">{{dt.datatype_name}}</option>
                 </select>
               </td>
               <td >
                 <input class="form-control"  type="text" [(ngModel)]="t.description" name=label{{i}} ngModel>
               </td>
               <td >
                  <div class="row col-12">
                  <div class="input-group">
                    <textarea class="col-10" type="text" name="parms" style="height:50px" readonly [value]="getParmString(t.parms)"></textarea>
                    <span class="input-group-btn col-2">
                    <p data-placement="top" data-toggle="tooltip" title="Show Parameter Editor">
                       <button class="btn btn-info btn-xs center-block" (click)="showParmEditor(t.type, 'target', i)">
                        <span class="fa fa-bars"></span>
                      </button>
                    </p>
                    </span>
                  </div>
                </div>
              </td>
               <td >
                  <div *ngFor="let ad of t.algorithms; let j = index; trackBy:trackByIndex">
                  <div class="row col-12">
                  <div class="input-group">
                    <textarea class="col-6" type="text" name=parms{{i}}{{j}} style="height:50px"  readonly [value]="getAlgString(t.algorithms[j])"></textarea>
                    <span class="input-group-btn col-2 plr-0">
                    <p data-placement="top" data-toggle="tooltip" title="Show algorithm Editor">
                       <button class="btn btn-info btn-xs center-block" (click)="showAlgEditor(i, j)">
                        <span class="fa fa-bars"></span>
                      </button>
                    </p>
                    </span>
                    <span class="input-group-btn col-2 plr-0">
                    <p data-placement="top" data-toggle="tooltip" title="Remove algorithm">
                       <button class="btn btn-danger btn-xs center-block" (click)="deleteAlgorithm(i, j)">
                        <span class="fa fa-minus"></span>
                      </button>
                    </p>
                    </span>
                    <span *ngIf="j==0" class="input-group-btn col-2 plr-0">
                    <p data-placement="top" data-toggle="tooltip" title="Add new algorithm">
                       <button class="btn btn-info btn-xs center-block" (click)="addAlgorithm(i)">
                        <span class="fa fa-plus"></span>
                      </button>
                    </p>
                    </span>
                  </div>
                </div>
                </div>
              </td> 
              <td class="text-center">
                    <p data-placement="top" data-toggle="tooltip" title="Delete Target">
                        <button class="btn btn-danger btn-xs center-block" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteTarget(i)">
                        <span class="fa fa-trash"></span>
                    </button></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </form>
    <br>
    <br>
    <div class="text-center">
      <button type="button" previousStep class="btn btn-sm btn-danger">Previous Step</button>
      <button type="button" nextStep class="btn btn-sm btn-primary">Next Step</button>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Identifiers" navigationSymbol="&#xf005;" navigationSymbolFontFamily="FontAwesome">
    <br><br>
    <h3 class="text-center">What features uniquely identify each record?</h3>
    <br>
    <div class="table-responsive">
        <table id="mytable2" class="table table-bordered table-striped sortable table-sm" style="width: 50%; margin: auto">
          <thead>
               <th class="text-center">Use</th>
               <th class="text-center">Feature Name</th>
               <th class="text-center">Feature Type</th>
               <th class="text-center">Feature Label</th>
          </thead>
          <tbody>
              <tr *ngFor="let f of model.features; let i=index">
                   <td class="align-middle"><input type="checkbox" style="float: left; margin: 0 auto; width: 100%;" (change)="setId(i)" [checked]="checked[i]"></td>
                   <td class="text-center">{{f.name}}</td>
                   <td class="text-center">{{f.type}}</td>
                   <td class="text-center">{{f.label}}</td>
               </tr>
          </tbody>
        </table>
    </div>
    <br><br>
    <div class="text-center">
      <button type="button" previousStep class="btn btn-sm btn-danger">Previous Step</button>
      <button type="button" nextStep class="btn btn-sm btn-primary" (click)="getScript()">Finish</button>
    </div>
  </wizard-step>
  <wizard-step stepTitle="Complete" navigationSymbol="&#xf00c;" navigationSymbolFontFamily="FontAwesome">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
          <div class="form-group">
            <label for="scriptTextarea">Model Definition</label>
            <textarea class="form-control rounded-0" id="scriptTextarea" rows="15">{{script}}</textarea>
          </div>        
      </div>
      <div class="col-3"></div>
    </div>
    <div class="text-center">
      <button type="button" previousStep class="btn btn-sm btn-primary">Previous Step</button>
      <button type="button" class="btn btn-sm btn-success" resetWizard (click)="saveModel()">Save Model</button>
      <button type="button" class="btn btn-sm btn-danger" resetWizard (click)="cancelModel()">Discard and Exit</button>
    </div>
    <div class ="row">
      <div class="col-2"></div>
      <div class="col-10">Result: {{message}}</div>
    </div>
  </wizard-step>
</wizard>
<app-modal-dialog *ngIf="showParm" [(visible)]="showParm">
    <app-parm-editor [parms]="parms" [parmDefs]="parmDefs" (saveParms)="saveParms($event)" (cancelParms)="cancelParms()"></app-parm-editor>
</app-modal-dialog>
<app-modal-dialog *ngIf="showAlg" [(visible)]="showAlg">
  <app-alg-editor [alg]="alg" (saveAlgorithm)="saveAlgorithm($event)" (cancelAlgorithm)="cancelAlgorithm()"></app-alg-editor>
</app-modal-dialog>
<app-modal-dialog *ngIf="showDMDialog" [(visible)]="showDMDialog">
   <app-datamap-editor  [mode]="'file'" (saveDatamap)="saveDM($event)" (cancelDatamap)="cancelDM()"></app-datamap-editor>
</app-modal-dialog>
<app-modal-dialog *ngIf="showMCDialog" [(visible)]="showMCDialog">
  <h3 class="col-12">Enter New Model Class</h3>  
  <div class="row" class="col-12">
     <div class="col-3"></div>
     <label class="col-2" for="mcName">Model Class</label>
     <input class="col-4" type="text" id="mcName" [(ngModel)]="model_class_name" name="mcname">
     <div class="col-3"></div>
  </div>
  <div class="row" class="col-12">
     <div class="col-3"></div>
     <label class="col-2" for="mcDesc">Model Name</label>
     <input class="col-4" type="text" id="mcDesc" [(ngModel)]="model_class_desc" name="mcdesc">
     <div class="col-3"></div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-sm btn-success" (click)="saveMC()">Save</button>
    <button type="button" class="btn btn-sm btn-danger"  (click)="cancelMC()">Cancel</button>
  </div>
</app-modal-dialog>
</div>