form-control.input {
	width: auto;
}
form-control.select {
	width: auto;
}
textarea
{
    font: 16px 'Open Sans', sans-serif;
}
h3 {
	background-color: gray;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center ;
	flex: auto;
}
