  <form #parmform="ngForm">
      <h3 class="text-center">Edit Datamap</h3>
      <br>
      <div class="row" >
       	 <div class="col-2"></div>
         <label class="col-1 text-center" for="dmname">Name</label>
         <input type="text" class="form-control col-2" id= "dmnameid" name="dmname" [(ngModel)]="datamap.datamap_name"/>
         <label class="col-1 text-center" for="dmtype">Type</label>
         <select class="form-control col-2" name=dmtype [(ngModel)]="datamap.datamap_type"> 
              <option *ngFor="let dmt of datamapTypes" value="{{dmt}}" [selected]="datamap.datamap_type==dmt">{{dmt}}</option>
         </select>
         <div class="col-1"></div>
         <button class="btn btn-primary btn-sm col-1" (click)="newField()">New Field</button>
         <div class="col-2"></div>
      </div>
      <br>
      <div class="row">
      <div class="col-2"></div>
      <div class="table-responsive col-8">
        <table id="mytable2" class="table table-bordered table-striped sortable table-sm">
          <thead>
               <th class="text-center">Field Name</th>
               <th class="text-center">Field Type</th>
          </thead>
          <tbody>
               <tr *ngFor="let fd of datamap.fields; let i=index;">
                   <td>
                     <input type="text" class="form-control col-12" id= fn{{i}} value="fd.field_name" name=fdn{{i}} [(ngModel)]="fd.field_name">
                  </td>
                   <td>
                      <select class="form-control" name=ftsel{{i}} [(ngModel)]="fd.field_type"> 
                        <option *ngFor="let dt of dataTypes" value="{{dt}}" [selected]="fd.field_type==dt">{{dt}}</option>
                      </select>
                   </td>
               </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2"></div>
  </div>
  </form>
  <div>
      <div class="row p-1">
         <div class="col-5 pt-3"></div>
         <p data-placement="top" data-toggle="tooltip" title="Discard Changes">
          <button class="btn btn-danger btn-xs center-block" data-title="Cancel" data-toggle="modal" data-target="#cancel" (click)="cancel()">
                  <span class="fa fa-ban"></span>
          </button>
         </p>
         <p data-placement="top" data-toggle="tooltip" title="Save Changes">
          <button class="btn btn-info btn-xs center-block" data-title="Save" data-toggle="modal" data-target="#save" (click)="save()">
                  <span class="fa fa-floppy-o"></span>
          </button>
         </p>
         <p data-placement="top" data-toggle="tooltip" title="Reset to defaults">
          <button class="btn btn-danger btn-xs center-block" data-title="Reset" data-toggle="modal" data-target="#reset" (click)="reset()">
                  <span class="fa fa-refresh"></span>
          </button>
         </p>
         <div class="col-4"></div>
     </div>
</div>
