   <h4 class="text-center">Batches</h4>
   <div class="table-responsive">
    <table id="mytable" class="table table-bordred table-striped sortable table-sm">
     <thead>
        <th>Identifier</th>
        <th>File name</th>
        <th class="text-center">Type</th>
        <th class="text-center">Created</th>
        <th class="text-center">Size</th>
        <th class="text-center">Status</th>
        <th class="text-center">Display</th>
        <th class="text-center">Hold</th>
        <th class="text-center">Release</th>
        <th class="text-center">Delete</th>
     </thead>
     <tbody>
       <tr *ngFor="let batch of batches">
          <td>{{batch.batch_id}}</td>
          <td>{{batch.file_name}}</td>
          <td class="text-center">{{batch.batch_type}}</td>
          <td class="text-center">{{batch.create_date}}</td>
          <td class="text-center">{{batch.size}}</td>
          <td class="text-center">{{batch.status}}</td>
          <td align="center"><p data-placement="top" data-toggle="tooltip" title="Display data files">
            <button class="btn btn-info btn-xs center-block" data-title="Show" data-toggle="modal" data-target="#display" (click)="showDatafilesForBatch(batch.batch_id)">  <span class="fa fa-eye"></span>
             </button></p></td>
          <td align="center"><p data-placement="top" data-toggle="tooltip" title="Hold">
            <button class="btn btn-warning btn-xs center-block" data-title="Hold" data-toggle="modal" data-target="#hold"  (click)="holdBatch(batch.batch_id)">
              <span class="fa fa-hand-paper-o"></span>
            </button></p></td>
          <td align="center"><p data-placement="top" data-toggle="tooltip" title="Release">
            <button class="btn btn-success btn-xs center-block" data-title="Release" data-toggle="modal" data-target="#release" (click)="releaseBatch(batch.batch_id)">
              <span class="fa fa-arrow-right"></span>
            </button></p></td>
          <td align="center"><p data-placement="top" data-toggle="tooltip" title="Delete" (click)="deleteBatch(batch.batch_id)">
            <button class="btn btn-danger btn-xs center-block" data-title="Delete" data-toggle="modal" data-target="#delete" >
              <span class="fa fa-trash"></span>
            </button></p></td>
      </tr>
     </tbody>
    </table>
