<div class="container-fluid">
<div class="row" >
	<div class="col-4 border">
        <div class="row">
		  <h3>Data Directory</h3>
        </div>
        <div class="row">
          <tree-root [nodes]="node" [options]="options"
          	   (toggleExpanded)="onEvent($event)"
               (activate)="onActivateEvent($event)"
               (focus)="onEvent($event)"
               (blur)="onEvent($event)">
          </tree-root>
        </div>
        <div class="row">
           <div class="col-4"></div> 
           <button class="btn btn-primary btn-xs center-block col-4" data-title="Upload Data" style="vertical-align: center;" (click)="gotoUpload()"><span class="fa fa-upload"></span> Upload Data</button>
           <div class="col-4"></div> 
        </div>
        <br>
    </div>
    <div class="col-8 border">
  	    <h3>File Summary</h3>
    	<table id="mytable" class="table table-bordred table-striped sortable table-sm">
    		<thead>
    			<th>File</th>
    			<th>Value</th>
    		</thead>
    		<tbody>
    			<tr>
    				<td>Name</td>
    				<td>{{fileInfo.datafile_name}}</td>
    			</tr>
    			<tr>
    				<td>Size (bytes)</td>
    				<td>{{fileInfo.datafile_size}}</td>
    			</tr>
    			<tr>
    				<td>Created</td>
    				<td>{{fileInfo.datafile_created}}</td>
    			</tr>
    			<tr>
    				<td>Format</td>
    				<td>{{fileInfo.datafile_format}}</td>
    			</tr>
    			<tr>
    				<td>Type</td>
    				<td>{{fileInfo.datafile_type}}</td>
    			</tr>
    		</tbody>
    	</table>
    	<br>
        <div class="row" *ngIf="fileInfo.datafile_type == 'Directory'">
        <div class="col-5"></div> 
        <!--div class="col-2">
        <button class="btn btn-primary btn-xs center-block" data-title="Create New Datamap" style="vertical-align: center;" (click)="createNewDatamap()"><span class="fa fa-plus"></span> New Datamap</button>
        </div-->
        <div class="col-2">
        <button class="btn btn-danger btn-xs center-block" data-title="Delete Directory" style="vertical-align: center;" (click)="deleteFile()"><span class="fa fa-minus-circle"></span> Delete</button>
        </div>
        <div class="col-5"></div>
        <br>
        </div>
        <div class="row" *ngIf="fileInfo.datafile_type != 'Directory'">
  	    <h3>File Contents</h3>
    	<table id="mytable" class="table table-bordred table-striped sortable table-sm">
    		<thead>
    			<th>Name</th>
    			<th>Value</th>
    			<th>Type</th>
    		</thead>
    		<tbody>
               <tr *ngFor="let f of fileHeader">
                    <td>{{f.field_name}}</td>
                    <td>{{f.field_val}}</td>
                    <!--td>{{f.field_type}}</td-->
                    <td><app-datatype-selector [identifier]="f.field_name" [initialType]="f.field_type" (selectedType)="newType($event)"></app-datatype-selector></td> 
               </tr>
    		</tbody>
    	</table>
    	<div *ngIf="contentsDisplayed" class="row col-12" style="height: 52px;">
    	<div class="col-4"></div>	
    	<div class="col-2">	
        <button class="btn btn-success btn-xs center-block" data-title="Create Datamap" style="vertical-align: center;" (click)="createDatamap()"><span class="fa fa-plus"></span>Datamap</button>
        </div>
    	<div class="col-1"></div>	
    	<div class="col-2">	
        <button class="btn btn-info btn-xs center-block" data-title="Create Model" style="vertical-align: center;" (click)="createModel()"><span class="fa fa-plus"></span>Model</button>
        </div>
    	<div class="col-1"></div>
        <div class="col-2"> 
        <button class="btn btn-danger btn-xs center-block" data-title="Create Model" style="vertical-align: center;" (click)="deleteFile()"><span class="fa fa-minus-circle"></span> Delete</button>
        </div>
    </div>
        <br>
        <div class="row">
          <div *ngIf="message!=''" class=col-2></div>{{message}}
        </div>
    </div>
</div>
</div>
<!--div *ngIf="showDMDialog()">
<app-modal-dialog *ngIf="showDMDialog" [(visible)]="showDMDialog">
   <app-datamap-editor  [mode]="edit" [datamap]="newDatamap" (saveDatamap)="saveDM($event)" (cancelDatamap)="cancelDM()"></app-datamap-editor>
</app-modal-dialog>
</div-->
