<form>
  <br>
  <h3 class="text-center">Submit a job</h3>
  <br>
  <div  *ngIf="currentJob>=0">
     <div class="row col-12">
          <div class="col-4"></div>
          <label class="col-2" for="mode">Select a job</label>
          <select class="col-2 form-control selcls" (change)="setCurrentJob($event.target.value)">
             <option *ngFor="let job of jobs; let i=index" [value]="i" [selected]="i==currentJob">{{job.job_name}}</option>
          </select>
          <div class="col-4"></div>
     </div> 
     <br>
     <div class="row col-12">
         <div class="col-2"></div>
         <div class="table-responsive col-8">
              <table id="mytable" class="table table-bordered table-striped sortable table-sm">
                  <thead>
                      <th>Parameter</th>
                      <th>Value</th>
                      <th>Hint</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let p of jobs[currentJob].parms">
                          <td>{{p.label}}</td>
                          <td><input class="col-12" type="text" value="{{p.parm_value}}"></td>
                          <td>{{p.hint}}</td>
                      </tr>
                  </tbody>
              </table>
        </div>
        <div class="col-2"></div>
     </div>
     <br>
     <div class="row col-12">
    	<div class="col-4"></div>	
    	<div class="col-2">	
        <button class="btn btn-primary btn-xs center-block" data-title="Submit Job" style="vertical-align: center;" (click)="submitJob()"><span class="fa fa-arrow-circle-right"></span> Submit Job</button>
        </div>
    	<div class="col-1"></div>	
    	<div class="col-2">	
        <button class="btn btn-danger btn-xs center-block" data-title="Cancel" style="vertical-align: center;" (click)="cancelJob()"><span class="fa fa-ban"></span> Cancel</button>
        </div>
    	<div class="col-3"></div>	
     </div>
  </div>
</form>
<div *ngIf="jobServer != ''" class="row col-12">
	<br>
	<p>Job submitted to {{jobServer}}. Use  
	<a href="javascript:void(0)" (click)="openMonitor()"> {{jobLink}}</a> to monitor the job.</p>
</div>