<div class="row">
	<div class="input-group col-auto">
		<span class="input-group-btn data-dwn">
			<button class="btn btn-default btn-secondary" data-dir="dwn" (click)="plus()"><span class="fa fa-chevron-up"></span></button>
		</span>
		<input type="text" class="form-control text-center" [value]="num">
		<span class="input-group-btn data-up">
			<button class="btn btn-default btn-secondary" data-dir="up" (click)="minus()"><span class="fa fa-chevron-down"></span></button>
		</span>
	</div>
</div>
