    <br>
    <div class="row col-12 text-center"><h3 class="text-center">Models</h3></div>
    <br>
    <div class="row col-12">
      <div class="col-2"></div>
      <div class="col-1">Model Class:</div>
      <div class="col-2">
        <select (change)="setCurrentClass($event.target.value)" class="form-control col-12" style="color: black"> 
            <option *ngFor="let mc of model_classes; let i = index" value={{i}} [selected]="i==modelNum">{{mc}}</option>
        </select>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <button class="btn btn-primary btn-xs" data-title="New Model">
          <span class="fa fa-puzzle-piece"> New Model</span>
        </button>
      </div>
      <div class="col-2"></div>
    </div>
    <br>
    <div class="table-responsive">
       <table id="mytable" class="table table-bordered table-striped sortable table-sm">
          <thead>
             <th>Name</th>
             <th>Description</th>
             <th class="text-center">Version</th>
             <th class="text-center">Display</th>
             <th class="text-center">Edit</th>
             <th class="text-center">copy</th>
             <th class="text-center">Delete</th>
             <th class="text-center">Set Current</th>
          </thead>
          <tbody>
             <tr *ngFor="let model of models | modelClass:currentClass; let i = index;">
                <td>{{model.name}} <span *ngIf="model.current" class="fa fa-star" style="color:gold"></span></td>
                <td>{{model.description}}</td>
                <td align="center">{{model.version}}</td>
                <td align="center">
                  <p data-placement="top" data-toggle="tooltip" title="Display">
                    <button class="btn btn-info btn-xs center-block" (click)="navigate(model.id)">
                      <span class="fa fa-eye"></span>
                    </button>
                  </p>
                </td>
                <td align="center">
                  <p data-placement="top" data-toggle="tooltip" title="Edit">
                      <button class="btn btn-primary btn-xs center-block" data-title="Edit" data-toggle="modal" data-target="#edit" >
                          <span class="fa fa-pencil"></span>
                      </button>
                  </p>
                </td>
                <td align="center">
                  <p data-placement="top" data-toggle="tooltip" title="Copy">
                      <button class="btn btn-warning btn-xs center-block" data-title="Edit" data-toggle="modal" data-target="#copy" >
                          <span class="fa fa-pencil"></span>
                      </button>
                  </p>
                </td>
                <td align="center">
                  <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button class="btn btn-danger btn-xs center-block" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="deleteModel(i)">
                      <span class="fa fa-trash"></span>
                    </button>
                  </p>
                </td>
                <td align="center">
                  <p data-placement="top" data-toggle="tooltip" title="Set Current">
                    <button class="btn btn-danger btn-xs center-block" data-title="SetCurrent" data-toggle="modal" data-target="#setcurrent" (click)="setCurrent(i)">
                      <span class="fa fa-exclamation-circle"></span>
                    </button>
                  </p>
                </td>
             </tr>
          </tbody>
       </table>
    </div>
