body {
  background: #eee !important;
}
.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.wrapper {
  display: flex;
  align-items: stretch;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 50px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 50px;
    font-size: 1.1em;
    display: block;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ffd700;
    background: #7386D5;
}
