<div class="row col-12">
    <div class="col-md-4">
      <div style="display: block;">
         <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 10px">
      <h6 class="text-center" >Volume and Accuracy</h6>
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels;let j = index;">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <div style="display: block">
        <canvas baseChart width="400" height="400"
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
</div>
<div class="row col-12">
    <app-log-browser></app-log-browser>
    <div class="col-1"></div>
    <div style="margin-bottom: 10px">
      <h5 class="text-center" >Notifications</h5>
      <table class="table table-responsive table-condensed">
        <thead>
          <th>Date</th>
          <th>Level</th>
          <th>Notification</th>
        </thead>
        <tbody>
        <tr>
          <td>2018-05-11</td>
          <td>WARN</td>
          <td>Job run time exceeded 2 hours</td>
        </tr>
        <tr>
          <td>2018-05-12</td>
          <td>INFO</td>
          <td>Happy Mother's day!</td>
        </tr>
        <tr>
          <td>2018-05-13</td>
          <td>INFO</td>
          <td>Don't forget to submit your TPS report</td>
        </tr>
        <tr>
          <td>2018-05-14</td>
          <td>INFO</td>
          <td>Meeting with the Bobs at 2</td>
        </tr>
      </tbody>
      </table>
    </div>
</div>
