<!-- <div class="wrapper bg container-fluid">
  <div *ngIf="authService.isLoggedIn()" class="rpcontent">
  <div class="clearfix"><br /></div>
  <div class="container">
    <div id="fancy-list-group">
      <div class="row">
        <div class="list-group col-lg-6">
            <li class="list-group-item list-group-item-success">
              <div class="list-group-item-addon">
                <span class="fa fa-cubes"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Create a new model</a></h5>
                <p class="list-group-item-text">Create a new model. You can use a data set, a data map, or another model as a template</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-success">
              <div class="list-group-item-addon">
                <span class="fa fa-cogs"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Train, and test a model</a></h5>
                <p class="list-group-item-text">Train a model using uploaded data and determine its accuracy</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-success">
              <div class="list-group-item-addon">
                <span class="fa fa-puzzle-piece"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Predict outcomes using a model</a></h5>
                <p class="list-group-item-text">Use a trained model and uploaded data to predict data outcomes</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-success">
              <div class="list-group-item-addon">
                <span class="fa fa-edit"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/models" routerLinkActive="active">Manage models</a></h5>
                <p class="list-group-item-text">Rename, delete, promote, view, or edit your defined models</p>
              </div>
            </li>  
        </div>
        <div class="list-group col-lg-6">
            <li class="list-group-item list-group-item-info">
              <div class="list-group-item-addon">
                <span class="fa fa-chevron-circle-up"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/data-upload" routerLinkActive="active">Upload data</a></h5>
                <p class="list-group-item-text">Upload data into a single dataset or from a batched set of data sets</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-info">
              <div class="list-group-item-addon">
                <span class="fa fa-database"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/create-datamap" routerLinkActive="active">Create a data map or transformation</a></h5>
                <p class="list-group-item-text">Provide field names, types, and transformations for your datasets</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-info">
              <div class="list-group-item-addon">
                <span class="fa fa-exchange"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Create a data transformation</a></h5>
                <p class="list-group-item-text">Specify how to combine data using computations, merges, and other mapppings </p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-info">
              <div class="list-group-item-addon">
                <span class="fa fa-edit"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/data" routerLinkActive="active">Manage your data</a></h5>
                <p class="list-group-item-text">Examine, map, rename, copy, and delete datasets or batches of data.</p>
              </div>
            </li>  
          </div>        
      </div>
      <div class="row">
        <div class="list-group col-lg-6">
            <li class="list-group-item list-group-item-warning">
              <div class="list-group-item-addon">
                <span class="fa fa-clock-o"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/job-scheduler" routerLinkActive="active">Submit or schedule a job</a></h5>
                <p class="list-group-item-text">Configure and run jobs, and set up job execution schedules to run at predefined dates and times</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-warning">
              <div class="list-group-item-addon">
                <span class="fa fa-clock-o"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/job-scheduler" routerLinkActive="active">Set up a job schedule</a></h5>
                <p class="list-group-item-text">Define a schedule for automated sequences of job executions</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-warning">
              <div class="list-group-item-addon">
                <span class="fa fa-eye"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">View job status</a></h5>
                <p class="list-group-item-text">View job status (waiting, running, and completed) and job log output</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-warning">
              <div class="list-group-item-addon">
                <span class="fa fa-edit"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Manage jobs</a></h5>
                <p class="list-group-item-text">Rename, copy, delete, view, or edit your jobs and schedules</p>
              </div>
            </li>  
        </div>
        <div class="list-group col-lg-6">
            <li class="list-group-item list-group-item-danger">
              <div class="list-group-item-addon">
                <span class="fa fa-users"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Manage users</a></h5>
                <p class="list-group-item-text">Add or suspend user accounts and manage their permissions and roles</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-danger">
              <div class="list-group-item-addon">
                <span class="fa fa-cog"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">Manage settings</a></h5>
                <p class="list-group-item-text">Manage system settings such as categories, data retention periods, etc.</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-danger">
              <div class="list-group-item-addon">
                <span class="fa fa-eye"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/log" routerLinkActive="active">View system log</a></h5>
                <p class="list-group-item-text">View the system log - logins, jobs, models, data uploads, and other statistics</p>
              </div>
            </li>  
            <li class="list-group-item list-group-item-danger">
              <div class="list-group-item-addon">
                <span class="fa fa-exclamation"></span>
              </div>
              <div class="list-group-item-content">
                <h5 class="list-group-item-heading"><a routerLink="/model-create/new/none/none" routerLinkActive="active">System shutdown and restart</a></h5>
                <p class="list-group-item-text">Schedule system shutown, system restarts, or other maintenance tasks</p>
              </div>
            </li>  
          </div>        
      </div>  </div>
  </div>
  </div>
  <div *ngIf="!authService.isLoggedIn()">
    <user-login></user-login>
  </div>
</div>
 -->