<!--div *ngIf="authService.isLoggedIn()" class="rpcontent">
   <div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#dashboards" class="collapsed">
                  <a routerLink="/home" routerLinkActive="active">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboards <span class="arrow"></span>
                  </a>
                </li>
                <ul class="sub-menu collapse" id="dashboards">
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li>Activity</li>
                    <li>Performance</li>
                </ul>

                <li  data-toggle="collapse" data-target="#models" class="collapsed" style="margin-left: 14px;">
                  <i class="fa fa-puzzle-piece fa-lg"></i> Models <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="models">
                    <li><a routerLink="/model-create/new/none/none" routerLinkActive="active">Create New Models</a></li>
                    <li><a routerLink="/models" routerLinkActive="active">Manage Models</a></li>
                    <li>Test, train, and predict</li>
                    <li>Analyze Models</li>
                </ul>


                <li data-toggle="collapse" data-target="#data" class="collapsed" style="margin-left: 12px;">
                  <i class="fa fa-database fa-lg"></i> Data <span class="arrow"></span>
                </li>  
                <ul class="sub-menu collapse" id="data">
                  <li><a routerLink="/data" routerLinkActive="active">Manage all data</a></li>
                  <li><a routerLink="/data-upload" routerLinkActive="active">Upload data</a></li>
                  <li>Query data sources</li>
                </ul>


                <li data-toggle="collapse" data-target="#jobs" class="collapsed" style="margin-left: 12px;">
                  <i class="fa fa-caret-square-o-right fa-lg"></i> Jobs <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="jobs">
                  <li><a routerLink="/job-scheduler" routerLinkActive="active">Submit or schedule a Job</a></li>
                  <li>View Job Status</li>
                </ul>


                <li data-toggle="collapse" data-target="#jobs" class="collapsed" style="margin-left: 2px;">
                  <a  routerLinkActive="active" routerLink="/profile">
                     <i class="fa fa-user fa-lg"></i> My Profile 
                  </a>
                </li>

                <li style="margin-left: 10px;">
                  <i class="fa fa-users fa-lg"></i> Manage Users and Roles 
                </li>
                 
                <li data-toggle="collapse" data-target="#admin" class="collapsed" style="margin-left: 10px;">
                  <i class="fa fa-cog fa-lg"></i> Administration 
                </li>
                <ul class="sub-menu collapse" id="admin">
                  <li><a routerLink="/log" routerLinkActive="active">View system log</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#jobs" class="collapsed">
                  <a routerLink="/help" routerLinkActive="active">
                    <i class="fa fa-info-circle fa-lg"></i> Help 
                  </a>
                </li>

                <li data-toggle="collapse" data-target="#jobs" class="collapsed">
                  <a routerLink="/about" routerLinkActive="active">
                    <i class="fa fa-asterisk fa-lg"></i> About 
                  </a>
                </li>
            </ul>
     </div>
  </div-->
<div class="row" style="position: fixed; left: 350px;">
    <div class="col-md-4">
      <div style="display: block;">
         <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 10px">
      <h6 class="text-center" >Volume and Accuracy</h6>
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels;let j = index;">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <div style="display: block">
        <canvas baseChart width="400" height="400"
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
</div>
<div class="row col-md-12" style="left: 350px; top: 620px;">
    <app-log-browser></app-log-browser>
    <div class="col-1"></div>
    <div style="margin-bottom: 10px">
      <h5 class="text-center" >Notifications</h5>
      <table class="table table-responsive table-condensed">
        <thead>
          <th>Date</th>
          <th>Level</th>
          <th>Notification</th>
        </thead>
        <tbody>
        <tr>
          <td>2018-05-11</td>
          <td>WARN</td>
          <td>Job run time exceeded 2 hours</td>
        </tr>
        <tr>
          <td>2018-05-12</td>
          <td>INFO</td>
          <td>Happy Mother's day!</td>
        </tr>
        <tr>
          <td>2018-05-13</td>
          <td>INFO</td>
          <td>Don't forget to submit your TPS report</td>
        </tr>
      </tbody>
      </table>
    </div>
</div>
<!-- <div *ngIf="!authService.isLoggedIn()">
  <user-login></user-login>
</div>
 -->