<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="width: 100%; height: 40px; ">
  <div class="collapse navbar-collapse justify-content-between">
  <a class="navbar-brand" (click)="showBrand()" style="color:white">
    <img src="/assets/Analytics-Inside-Logo.png" width="42" height="30" alt="">
    RelPredict Studio
  </a>
    <div class="row text-right pr-1" >
      <div *ngIf="authService.isLoggedIn()" class="row pr-1">
         <a class="nav-link" routerLinkActive="active" routerLink="/profile"  style="color:gold">{{getUsernameAndRole()}}</a>
         <a class="nav-link" routerLink="/home" routerLinkActive="inactive" (click)="authservice.logout()"> Logout  </a>
      </div>
      <div *ngIf="!authService.isLoggedIn()" class="row pr-1">
         <a class="nav-link" routerLinkActive="inactive" routerLink="/home"  style="color:gold"> {{getUsernameAndRole()}}  </a>
      </div>
    </div>
  </div>
</nav>
