<h3>Model Information</h3>
<div class="row col-12">
	<div class="col-1"></div>
    <div class="col-3">Name</div>
    <div class="col-6">{{model.name}}<span *ngIf="model.current" class="fa fa-star" style="color:gold"></span></div>
    <div class="col-2"></div>
</div>
<div class="row col-12">
	<div class="col-1"></div>
    <div class="col-3">Class</div>
    <div class="col-6">{{model.model_class}}</div>
    <div class="col-2"></div>
</div>
<div class="row col-12">
	<div class="col-1"></div>
    <div class="col-3">Version</div>
    <div class="col-6">{{model.version}}</div>
    <div class="col-2"></div>
</div>
<div class="row col-12">
	<div class="col-1"></div>
    <div class="col-3">Description</div>
    <div class="col-6">{{model.description}}</div>
    <div class="col-2"></div>
</div>
<div class="row col-12">
	<div class="col-1"></div>
    <div class="col-3">Identifier</div>
    <div class="col-6">{{model.identifier}}</div>
    <div class="col-2"></div>
</div>
<br>
<div class="row col-12">
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-bordered table-striped sortable table-sm">
			<thead>
				<th>Element</th>
				<th>Data Type</th>
				<th>Role</th>
			</thead>
			<tbody>
				<tr *ngFor="let f of model.features">
					<td>{{f.name}}</td>
					<td>{{f.type}}</td>
					<td *ngIf="f.name==model.identifier">Identifier</td>
					<td *ngIf="f.name!=model.identifier">Feature</td>
				</tr>
				<tr *ngFor="let t of model.targets">
					<td>{{t.name}}</td>
					<td>{{t.type}}</td>
					<td>Target</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-1"></div>
</div>
<br>
<div *ngIf="mode=='dialog'" class="row col-12">
	<div class="col-4"></div>
    <div class="text-center col-4">
       <button type="button" class="btn btn-sm btn-primary" (click)="close()">Close</button>
    </div>
	<div class="col-4"></div>
</div>