vocab,status,select distinct status from relpredict.claim_status
vocab,account,select distinct account from relpredict.claim_status
vocab,npi,select distinct npi from relpredict.claim_status
vocab,state,select distinct abbreviation as state from mm_md.states
vocab,cpt_codes,select distinct cpt_code as cpt_codes from mm_md.cpt_codes
vocab,diag_codes,select distinct icd_10_dx as diag_codes from mm_md.icd10dx_mdc_crosswalk
vocab,payers,select distinct insplancompany as payers from quadax_master.insplans where insplancompany != ''
map,diag2drg,select diag_code as from_value, min(drg_low) as to_value from diag_drg_mdc group by diag_code
map,diag2mdc,select diag_code as from_value, min(mdc_code) as to_value from diag_drg_mdc group by diag_code